<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\OpenSearch\SearchAdapter\Query\Builder">
        <plugin name="out_of_stock_last"
                type="Shoppy\OutOfStockLast\Plugin\OpenSearch\OutOfStockLastPlugin"/>
    </type>

    <type name="Magento\Catalog\Model\Layer">
        <plugin name="out_of_stock_last_layer"
                type="Shoppy\OutOfStockLast\Plugin\LayerPlugin"/>
    </type>

</config>